@import url(./Fontiran.css); 
@import url(./Reset.css); 
body {
  font-family: 'IRANSans';
  /* font-weight: 300; */
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --primary--00: rgba(237, 247, 242, 1);
  --primary--01: rgba(207, 235, 219, 1);
  --primary--02: rgba(175, 221, 195, 1);
  --primary--03: rgba(134, 204, 164, 1);
  --primary--04: rgba(94, 187, 134, 1);
  --primary--05: rgba(54, 170, 104, 1);
  --primary--06: rgba(14, 153, 74, 1);
  --primary--07: rgba(12, 128, 62, 1);
  --primary--08: rgba(9, 102, 49, 1);
  --primary--09: rgba(7, 77, 37, 1);
  --primary--10: rgba(5, 51, 25, 1);
  --primary--11: rgba(3, 31, 15, 1);
  --secondary--00: rgba(250, 244, 247, 1);
  --secondary--01: rgba(234, 209, 220, 1);
  --secondary--02: rgba(220, 179, 197, 1);
  --secondary--03: rgba(203, 140, 167, 1);
  --secondary--04: rgba(186, 102, 138, 1);
  --secondary--05: rgba(168, 64, 109, 1);
  --secondary--06: rgba(151, 26, 80, 1);
  --secondary--07: rgba(126, 22, 67, 1);
  --secondary--08: rgba(101, 17, 53, 1);
  --secondary--09: rgba(76, 13, 40, 1);
  --secondary--10: rgba(50, 9, 27, 1);
  --secondary--11: rgba(30, 5, 16, 1);
  --tertiary--00: rgba(245, 246, 250, 1);
  --tertiary--01: rgba(212, 218, 232, 1);
  --tertiary--02: rgba(183, 193, 217, 1);
  --tertiary--03: rgba(147, 162, 198, 1);
  --tertiary--04: rgba(112, 131, 180, 1);
  --tertiary--05: rgba(76, 100, 161, 1);
  --tertiary--06: rgba(40, 69, 142, 1);
  --tertiary--07: rgba(33, 58, 118, 1);
  --tertiary--08: rgba(27, 46, 95, 1);
  --tertiary--09: rgba(20, 35, 71, 1);
  --tertiary--10: rgba(13, 23, 47, 1);
  --tertiary--11: rgba(8, 14, 28, 1);
  --error--00: rgba(254, 246, 247, 1);
  --error--01: rgba(249, 204, 213, 1);
  --error--02: rgba(244, 170, 185, 1);
  --error--03: rgba(239, 128, 149, 1);
  --error--04: rgba(234, 85, 114, 1);
  --error--05: rgba(228, 43, 79, 1);
  --error--06: rgba(223, 0, 44, 1);
  --error--07: rgba(186, 0, 37, 1);
  --error--08: rgba(149, 0, 29, 1);
  --error--09: rgba(112, 0, 22, 1);
  --error--10: rgba(74, 0, 15, 1);
  --error--11: rgba(45, 0, 9, 1);
  --success--00: rgba(241, 253, 246, 1);
  --success--01: rgba(204, 249, 222, 1);
  --success--02: rgba(170, 244, 200, 1);
  --success--03: rgba(128, 239, 172, 1);
  --success--04: rgba(85, 234, 144, 1);
  --success--05: rgba(43, 228, 117, 1);
  --success--06: rgba(0, 223, 89, 1);
  --success--07: rgba(0, 186, 74, 1);
  --success--08: rgba(0, 149, 59, 1);
  --success--09: rgba(0, 112, 45, 1);
  --success--10: rgba(0, 74, 30, 1);
  --success--11: rgba(0, 45, 18, 1);
  --warning--00: rgba(254, 246, 241, 1);
  --warning--01: rgba(251, 229, 213, 1);
  --warning--02: rgba(248, 211, 186, 1);
  --warning--03: rgba(245, 189, 151, 1);
  --warning--04: rgba(242, 167, 116, 1);
  --warning--05: rgba(238, 145, 82, 1);
  --warning--06: rgba(235, 123, 47, 1);
  --warning--07: rgba(196, 103, 39, 1);
  --warning--08: rgba(157, 82, 31, 1);
  --warning--09: rgba(118, 62, 24, 1);
  --warning--10: rgba(78, 41, 16, 1);
  --warning--11: rgba(47, 25, 9, 1);
  --info--00: rgba(242, 250, 253, 1);
  --info--01: rgba(204, 234, 247, 1);
  --info--02: rgba(170, 220, 241, 1);
  --info--03: rgba(128, 202, 234, 1);
  --info--04: rgba(85, 185, 228, 1);
  --info--05: rgba(43, 167, 221, 1);
  --info--06: rgba(0, 150, 214, 1);
  --info--07: rgba(0, 125, 178, 1);
  --info--08: rgba(0, 100, 143, 1);
  --info--09: rgba(0, 75, 107, 1);
  --info--10: rgba(0, 50, 71, 1);
  --info--11: rgba(0, 30, 43, 1);
  --natural--00: rgba(247, 247, 247, 1);
  --natural--01: rgba(224, 224, 224, 1);
  --natural--02: rgba(203, 203, 203, 1);
  --natural--03: rgba(176, 177, 176, 1);
  --natural--04: rgba(150, 151, 150, 1);
  --natural--05: rgba(124, 125, 124, 1);
  --natural--06: rgba(98, 99, 98, 1);
  --natural--07: rgba(82, 83, 82, 1);
  --natural--08: rgba(65, 66, 65, 1);
  --natural--09: rgba(49, 50, 49, 1);
  --natural--10: rgba(33, 33, 33, 1);
  --natural--11: rgba(20, 20, 20, 1);

  /* Text-size styles */
  --iran-s-a-n-s---display---large: 48px;
  --iran-s-a-n-s---display---medium: 40px;
  --iran-s-a-n-s---display---small: 32px;
  --iran-s-a-n-s---headline---large: 28px;
  --iran-s-a-n-s---headline---medium: 24px;
  --iran-s-a-n-s---headline---small: 20px;
  --iran-s-a-n-s---title---large: 18px;
  --iran-s-a-n-s---title---medium: 16px;
  --iran-s-a-n-s---title---small: 14px;
  --iran-s-a-n-s---body---large: 16px;
  --iran-s-a-n-s---body---medium: 14px;
  --iran-s-a-n-s---body---small: 12px;
  --iran-s-a-n-s---label---large: 14px;
  --iran-s-a-n-s---label---medium: 12px;
  --iran-s-a-n-s---label---small: 11px;
}

.nav-link{

font-family: 'IRANSans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: var(  --natural--08) !important;
}
a:hover{
    transform: scale(1.02);
    filter: opacity(.9);
    transition: all 0.5s;
    color: var(  --error--01) !important;
}